            /* SETTING TEXT */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}


            /* PILIHAN WARNA  */
:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

html {
    font-size: 62,5%;
    overflow-x: hidden;
}


            /* SETTING BODY KESELURUHAN */
body {
    
    background: var(--bg-color);
    color: var(--text-color);
}


              /* HEADER SETTING KESELURUHAN */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    padding: .3rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

            /* HEADER BAGIAN PENGALAMAN */
.header1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
            /* HEADER BAGIAN KEAHLIAN */
.headerkeahlian {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
            /* HEADER BAGIAN KONTAK */
.headerkontak {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
/* .headerkeahlian .logo {
    display: none;
} */


            /* TULISAN EDO */
.logo {
    font-style: italic;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 500;
}


        /* NAVBAR BERANDA-KONTAK */
.navbar a {
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 1rem;
}
.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}


            /* MENU TIDAK TERLIHAT */
#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}


            /* SECTION */
section {
    min-height: 100vh;
    padding: 3rem 9% 3rem;
}
.beranda {
    display: flex;
    position: relative;
    align-items: flex;
    flex-direction: column;
    padding-top: 12rem;
    padding-bottom: 12rem;
    background: url('gambar1212.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}


            /* JUDUL 1 */
.home-content {
    max-width: 60rem;
    z-index: 99;
    
}
.home-content h1 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: .3;
}
.home-content span {
    position: relative;
    line-height: 1.5;
   
}


            /* JUDUL2 */
.home-content .text-animasi {
    position: relative;
    top: 2rem;
    width: 11rem;
    
}
.home-content .text-animasi h3 {
    font-size: 2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    background-clip: text;
    background-position: 0 0;
    animation: homeBgText 4s linear infinite;
}
.home-content .text-animasi h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
    animation: homeCursorText 4s linear infinite;
}


            /* PARAGRAPH */
.home-content p{
    font-size: 1rem;
    margin: 2.5rem 0 4rem;
    margin-right: 6rem;
}


            /* BOX CONTENT */
.btn-box {
    position: relative;
    justify-content: space-between;
    /* width: 30.3rem; */
    height: 4rem;
    animation: hubungi-tentang 10s linear infinite;
}
.btn-box .btn {
    text-align: center;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    width: 12.2rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.btn-box .btn:hover {
    color: var(--main-color);
}
.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--main-color);
}
.btn-box .btn:nth-child(2):hover {
    color: var(--bg-color);
}
.btn-box .btn:nth-child(2)::before {
    background: var(--main-color);
}
.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background : #010512;
    z-index: -1;
    transition: .5s;
}
.btn-box .btn:hover::before {
    width: 100%;
}



            /* BAGIAN BAWAH */
.home-sci {
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: center;
    z-index: 99;
}
.home-sci a {
    margin: 1rem;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    animation: sosmed 5s linear infinite;
}
.home-sci a:hover {
    color: var(--bg-color);
}
.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}
.home-sci a:hover::before {
    width: 100%;
}


            /* Tentang */
        /* text tentang saya */

.tentang { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: #010512;
    padding-bottom: 3rem;
}
.tentang h2 {
    font-size: 3rem;
}
.headingtentang {
    margin-top: .5rem;
    font-size: 4rem;
    text-align: center;
}
span {
    color: var(--main-color);
}


        /* gambar */
.about-img {
    position: relative;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img img {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    border: .7rem solid var(--main-color);
}
.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 75%;
    height: 75%;
    border-radius: 50%;
    border-top: .2rem solid #010512;
    border-bottom: .2rem solid #010512;
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
    animation: aboutspinner 8s linear infinite;
}


        /* text dibawah gambar */
.about-content {
    text-align: center;
}
.about-content h3 {
    font-size: 2.6rem;
}
.about-content p {
    text-align: left;
    font-size: 1.6 rem;
    margin: 2rem 0 3rem;
}
.btn-box.btns {
    position: relative;
    display: inline-block;
    width: 15rem;
}
        /* text didalam box */
.btn-box.btns a::before {
    background: #010512;
}


                 /* pendidikan */

.pendidikan h2 {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
    padding-bottom: 3rem;
}
.pendidikan .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.education-row .education-column {
    flex: 1 1 4rem;
}
.education-column .title {
    font-size: 2rem;
    margin: 0 0 1.5rem 2rem;
}
.education-column .education-box {
    border-left: .2rem solid var(--main-color);
}
.education-box .education-content {
    position: relative;
    padding-left: 2rem;
}
.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;
}
.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}
.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}
.education-content .content:hover::before {
    width: 100%;
}
.education-content .content .year {
    font-size: 1rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}
.education-content .content .year i {
    padding-right: .5rem;
}
.education-content .content h3 {
    font-size: 1.5rem;
}
.education-content .content p {
    font-size: 1rem;
    padding-top: .5rem;
}
.aplikasi {
    background: var(--main-color);
    color: var(--bg-color);
}


                    /* KEAHLIAN */
.headingkeahlian {
    margin-top: .5rem;
    font-size: 3rem;
    text-align: center;
}
.keahlian {
    min-height: auto;
    padding-bottom: 4rem;
    background: var(--bg-color);
}
.keahlian h2 {
    margin-bottom: 2rem;
}
.keahlian .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.skills-row .skills-column {
    flex: 1 1 2rem;
}
.skills-column .titlevba {
    font-size: 2.5 rem;
    margin: 0 0 1.5rem;
}
/* .morekeahlian1 {
    text-align: center;
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 400px;
    background: url(753007.jpg);
    border-radius: .6rem;
    background-position: center;
    background-size: cover;
    border: .2rem solid var(--main-color);
    z-index: 1;
    overflow: hidden;
} */

.textkeahlian {
    text-align: left;
    justify-content: left;
    font-size: 1rem;
    display: block;
    border: .5rem solid var(--bg-color);
    border-radius: .6rem;
    background-color: var(--bg-color);
    color: #f4f4f7;
}

            /* ANIMASI KEAHLIAN 1 */
.morekeahlian1 {
    text-align: center;
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 400px;
    background: url(../keahlianvba/excelvba1.jpg);
    border-radius: .6rem;
    background-position: center;
    background-size: cover;
    border: .2rem solid var(--main-color);
    z-index: 1;
    overflow: hidden;
    animation: keahlian1 10s linear infinite;
}
.morekeahlian1 .textkeahlian:hover {
    color: var(--main-color);
}
.morekeahlian1 .textkeahlian:nth-child(2) {
    background: trarensparent;
    color: var(--main-color);
}
.morekeahlian1 .textkeahlian:nth-child(2):hover {
    color: var(--main-color);
}
.morekeahlian1 .textkeahlian:nth-child(2)::before {
    background: var(--main-color);
}
.morekeahlian1 .textkeahlian::before {
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background : url(../keahlianvba/excelvba2.jpg);
    background-size: cover;
    z-index: -1;
    transition: .5s;
}
.morekeahlian1 .textkeahlian:hover::before {
    width: 100%;
}
            /* ANIMASI KEAHLIAN 2 */
.morekeahlian2 {
    text-align: center;
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 400px;
    background: url(../keahlianfrontend/hcj1.jpg);
    border-radius: .6rem;
    background-position: center;
    background-size: cover;
    border: .2rem solid var(--main-color);
    z-index: 1;
    overflow: hidden;
    animation: keahlian1 10s linear infinite;
}
.morekeahlian2 .textkeahlian:hover {
    color: var(--main-color);
}
.morekeahlian2 .textkeahlian:nth-child(2) {
    background: trarensparent;
    color: var(--main-color);
}
.morekeahlian2 .textkeahlian:nth-child(2):hover {
    color: var(--main-color);
}
.morekeahlian2 .textkeahlian:nth-child(2)::before {
    background: var(--main-color);
}
.morekeahlian2 .textkeahlian::before {
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background : url(../keahlianfrontend/hcj2.jpg);
    background-size: cover;
    z-index: -1;
    transition: .5s;
}
.morekeahlian2 .textkeahlian:hover::before {
    width: 100%;
}
            /* ANIMASI KEAHLIAN 3 */
.morekeahlian3 {
    text-align: center;
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 400px;
    background: url(../keahlianeditor/editor1.jpg);
    border-radius: .6rem;
    background-position: center;
    background-size: cover;
    border: .2rem solid var(--main-color);
    z-index: 1;
    overflow: hidden;
    animation: keahlian1 10s linear infinite;
}
.morekeahlian3 .textkeahlian:hover {
    color: var(--main-color);
}
.morekeahlian3 .textkeahlian:nth-child(2) {
    background: trarensparent;
    color: var(--main-color);
}
.morekeahlian3 .textkeahlian:nth-child(2):hover {
    color: var(--main-color);
}
.morekeahlian3 .textkeahlian:nth-child(2)::before {
    background: var(--main-color);
}
.morekeahlian3 .textkeahlian::before {
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background : url(../keahlianeditor/editor2.jpg);
    background-size: cover;
    z-index: -1;
    transition: .5s;
}
.morekeahlian3 .textkeahlian:hover::before {
    width: 100%;
}
            /* ANIMASI KEAHLIAN 4 */
.morekeahlian4 {
    text-align: center;
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 400px;
    background: url(../keahlianotomotif/otomotif1.jpg);
    border-radius: .6rem;
    background-position: center;
    background-size: cover;
    border: .2rem solid var(--main-color);
    z-index: 1;
    overflow: hidden;
    animation: keahlian1 10s linear infinite;
}          
.morekeahlian4 .textkeahlian:hover {
    color: var(--main-color);
}
.morekeahlian4 .textkeahlian:nth-child(2) {
    background: trarensparent;
    color: var(--main-color);
}
.morekeahlian4 .textkeahlian:nth-child(2):hover {
    color: var(--main-color);
}
.morekeahlian4 .textkeahlian:nth-child(2)::before {
    background: var(--main-color);
}
.morekeahlian4 .textkeahlian::before {
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background : url(../keahlianotomotif/otomotif2.jpg);
    background-size: cover;
    z-index: -1;
    transition: .5s;
}
.morekeahlian4 .textkeahlian:hover::before {
    width: 100%;
}
            /* ANIMASI KEAHLIAN 5 */
.morekeahlian5 .textkeahlian:hover {
    color: var(--main-color);
}
.morekeahlian5 .textkeahlian:nth-child(2) {
    background: trarensparent;
    color: var(--main-color);
}
.morekeahlian5 .textkeahlian:nth-child(2):hover {
    color: var(--main-color);
}
.morekeahlian5 .textkeahlian:nth-child(2)::before {
    background: var(--main-color);
}
.morekeahlian5 .textkeahlian::before {
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background : url(../otomotif2.jpg);
    background-size: cover;
    z-index: -1;
    transition: .5s;
}
.morekeahlian5 .textkeahlian:hover::before {
    width: 100%;
}
            /* ANIMASI KEAHLIAN 6 */
.morekeahlian6 .textkeahlian:hover {
    color: var(--main-color);
}
.morekeahlian6 .textkeahlian:nth-child(2) {
    background: trarensparent;
    color: var(--main-color);
}
.morekeahlian6 .textkeahlian:nth-child(2):hover {
    color: var(--main-color);
}
.morekeahlian6 .textkeahlian:nth-child(2)::before {
    background: var(--main-color);
}
.morekeahlian6 .textkeahlian::before {
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background : url(../gambar1.jpg);
    background-size: cover;
    z-index: -1;
    transition: .5s;
}
.morekeahlian6 .textkeahlian:hover::before {
    width: 100%;
}




.titlevba {
    color: var(--main-color);
}


            /* KONTAK */


.kontak {
    min-height: auto;
    padding-bottom: 10rem;
}
.kontak h2 {
    font-size: 3rem;
    padding-top: 3rem;
    position: relative;
    text-align: center;
}
.kontak form {
    max-width: 50rem;
    margin: 2rem auto;
    text-align: center;
}
.kontak form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* .kontak form .textarea-field {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} */
.kontak form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: .8rem 0;
}
.kontak form .input-box .input-field input {
    width: 100%;
    height: 100%;
    padding: 1.5 rem;
    font-size: 1rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}
.kontak form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5 rem;
    font-size: 1rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}
.kontak form .input-box .input-field input::placeholder {
    color: var(--text-color);
}
.kontak form .textarea-field textarea::placeholder {
    color: var(--text-color);
}
.kontak form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}
.kontak form .focus1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: transparent;
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}
.kontak form .input-box .input-field input:focus~.focus,
.kontak form .input-box .input-field input:valid~.focus,
.kontak form .textarea-field textarea:focus~.focus1,
.kontak form .textarea-field textarea:valid~.focus1 {
    width: 100%;
}
.kontak form .textarea-field {
    position: relative;
    margin: 3rem 0 2.7rem;
    display: flex;
}
.kontak form .textarea-field textarea {
    resize: none;
}
.kontak form .btn-box.btns .btn {
    cursor: pointer;
}




.bghitam {
    background: black;
}









           /* BREAKPOINTS */
@media (max-width: 1200px) {
    html {
        font-size: 85%;
    }
}
@media (max-width: 991px) {
    .header {
        padding: 2rem;
    }
    .header1 {
        padding: 1rem;
    }
    .headerkeahlian {
        padding: 1rem;
    }
    .headerkontak {
        padding: 1rem;
    }
    section {
        padding: 10rem 4% 2rem;
    }
    .beranda {
        padding: 5 4%;
    }
}
@media (max-width: 991px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        background: var(--bg-color);
        box-shadow: o .5rem 1rem rgba(0, 0, 0, .2);
        z-index: 1;
        transition: .5s ease;
        /* transition-delay: .5s; */
    }
    
    .navbar.active {
        left: 0;
        transition-delay: 0s;
    }
    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: .1rem solid blue;
        z-index: -1;
        transition: .5s ease;
        transition-delay: 0s;
    }
    .navbar.active .active-nav {
        left: 0;
        transition-delay: .5s;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .navbar.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }
    .home-imghover {
        pointer-events: none;
        background: var(--bg-color);
        opacity: .6;
    }
}
@media (max-width: 520px) {
    html {
        font-size: 85%;
    }
    .home-content {
        padding: 1rem;
    }
    .home-content h1 {
        display: flex;
        flex-direction: column;
        margin-right: 0;
    }
    .home-sci {
        width: 140px;
    }
    .home-sci a {
        width: 38px;
        height: 38px;
    }
}
@media (max-width: 444px) {
    .home-content p {
        font-size: 85%;
    }
    .kontak form .input-box .input-field {
        width: 100%;
    }
    body {
        background: url('gambar1212.jpg') no-repeat;
        color: var(--text-color);  
    }
        /* ANIMASI KEAHLIAN 1 */
.morekeahlian1 {
    text-align: center;
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    height: 190px;
    width: 340px;
    background: url(../keahlianvba/excelvba1.jpg);
    border-radius: .6rem;
    background-position: center;
    background-size: cover;
    border: .2rem solid var(--main-color);
    z-index: 1;
    overflow: hidden;
    animation: keahlian1 10s linear infinite;
}
.morekeahlian1 .textkeahlian:hover {
    color: var(--main-color);
}
.morekeahlian1 .textkeahlian:nth-child(2) {
    background: trarensparent;
    color: var(--main-color);
}
.morekeahlian1 .textkeahlian:nth-child(2):hover {
    color: var(--main-color);
}
.morekeahlian1 .textkeahlian:nth-child(2)::before {
    background: var(--main-color);
}
.morekeahlian1 .textkeahlian::before {
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background : url(../keahlianvba/excelvba2.jpg);
    background-size: cover;
    z-index: -1;
    transition: .5s;
}
.morekeahlian1 .textkeahlian:hover::before {
    width: 100%;
}
            /* ANIMASI KEAHLIAN 2 */
.morekeahlian2 {
    text-align: center;
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    height: 190px;
    width: 340px;
    background: url(../keahlianfrontend/hcj1.jpg);
    border-radius: .6rem;
    background-position: center;
    background-size: cover;
    border: .2rem solid var(--main-color);
    z-index: 1;
    overflow: hidden;
    animation: keahlian1 10s linear infinite;
}
.morekeahlian2 .textkeahlian:hover {
    color: var(--main-color);
}
.morekeahlian2 .textkeahlian:nth-child(2) {
    background: trarensparent;
    color: var(--main-color);
}
.morekeahlian2 .textkeahlian:nth-child(2):hover {
    color: var(--main-color);
}
.morekeahlian2 .textkeahlian:nth-child(2)::before {
    background: var(--main-color);
}
.morekeahlian2 .textkeahlian::before {
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background : url(../keahlianfrontend/hcj2.jpg);
    background-size: cover;
    z-index: -1;
    transition: .5s;
}
.morekeahlian2 .textkeahlian:hover::before {
    width: 100%;
}
            /* ANIMASI KEAHLIAN 3 */
.morekeahlian3 {
    text-align: center;
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    height: 190px;
    width: 340px;
    background: url(../keahlianeditor/editor1.jpg);
    border-radius: .6rem;
    background-position: center;
    background-size: cover;
    border: .2rem solid var(--main-color);
    z-index: 1;
    overflow: hidden;
    animation: keahlian1 10s linear infinite;
}
.morekeahlian3 .textkeahlian:hover {
    color: var(--main-color);
}
.morekeahlian3 .textkeahlian:nth-child(2) {
    background: trarensparent;
    color: var(--main-color);
}
.morekeahlian3 .textkeahlian:nth-child(2):hover {
    color: var(--main-color);
}
.morekeahlian3 .textkeahlian:nth-child(2)::before {
    background: var(--main-color);
}
.morekeahlian3 .textkeahlian::before {
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background : url(../keahlianeditor/editor2.jpg);
    background-size: cover;
    z-index: -1;
    transition: .5s;
}
.morekeahlian3 .textkeahlian:hover::before {
    width: 100%;
}
            /* ANIMASI KEAHLIAN 4 */
.morekeahlian4 {
    text-align: center;
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    height: 190px;
    width: 340px;
    background: url(../keahlianotomotif/otomotif1.jpg);
    border-radius: .6rem;
    background-position: center;
    background-size: cover;
    border: .2rem solid var(--main-color);
    z-index: 1;
    overflow: hidden;
    animation: keahlian1 10s linear infinite;
}          
.morekeahlian4 .textkeahlian:hover {
    color: var(--main-color);
}
.morekeahlian4 .textkeahlian:nth-child(2) {
    background: trarensparent;
    color: var(--main-color);
}
.morekeahlian4 .textkeahlian:nth-child(2):hover {
    color: var(--main-color);
}
.morekeahlian4 .textkeahlian:nth-child(2)::before {
    background: var(--main-color);
}
.morekeahlian4 .textkeahlian::before {
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background : url(../keahlianotomotif/otomotif2.jpg);
    background-size: cover;
    z-index: -1;
    transition: .5s;
}
.morekeahlian4 .textkeahlian:hover::before {
    width: 100%;
}
    
}
@media (max-width: 378px) {
    section {
        min-height: 100vh;
        padding: 1rem;
    }
  
    .beranda {
        display: flex;
        position: relative;
        align-items: flex;
        flex-direction: column;
        padding-top: 12rem;
        padding-bottom: 12rem;
    }   
   
}

            /* KEYFRAMES ANIMATION */
@keyframes sosmed {
     0% {
        transform: rotate(360deg);
         opacity: 100%;
     }
     50% {
        transform: rotate(340deg);
        opacity: 20%; 
     }
    100% {
        transform: rotate(360deg);
        opacity: 100%;
     }
       
}
       

@keyframes hubungi-tentang {
    0% {
        opacity: 100%;
    }
    50% {
        opacity: 50%; 
    }
    100% {
        opacity: 100%;
    }
   
}
            
@keyframes homeBgText {
    0%, 10%, 100% {
        background-position: -11rem 0;
    }
    65%, 85% {
        background-position: 0 0;
    }
}
@keyframes homeCursorText {
    0%, 10%, 100% {
        width: 0;
    }
    65%, 78%, 85% {
        width: 100%;
        opacity: 1;
    }
        75%, 81% {
            opacity: 0;
        }
}
@keyframes aboutspinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@keyframes keahlian1 {
    0% {
        transform: scale(0);
        transform: rotate(362deg);
        opacity: 60%;
    }
    25% {
        opacity: 100%;
    }
    50% {
        transform: scale(1);
        transform: rotate(355deg);
        opacity: 60%;
    }
    75% {
        opacity: 100%;
    }
    100% {
        transform: scale(0);
        transform: rotate(362deg);
        opacity: 60%;
    }
}