            /* SETTING TEXT */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}


            /* PILIHAN WARNA  */
:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

html {
    font-size: 62,5%;
    overflow-x: hidden;
}


            /* SETTING BODY KESELURUHAN */
body {    
    background: rgb(19, 1, 31);
    color: var(--text-color);
}
span {
    color: rgb(255, 0, 191);
}
p {
    margin: 1rem 0;
}
.exit {
    top: 0;
    padding-top: 5rem;
    padding-left: 100%;
    padding-right: 100%;
    padding-bottom: .1rem;
    right: 3rem;
    justify-content: center;
    background-color:rgb(19, 1, 31);
    position: fixed;
    z-index: 99;
}
.exit h2 {
    font: x-large;
    color: #ffffff;
    top: 1.5rem;
    right: 4.4rem;
    justify-content: right;
    position: fixed;
    background: transparent;
    display: flex;
    animation: kembali 5s linear infinite;
    z-index: 100;
}
.exit h2:hover {
    height: 2.5rem;
    width: 8rem;
    align-items: center;
    justify-content: center;
    background: red;
    border-radius: 2rem;
}
.kotak-deskripsi { 
    margin: 5rem 2rem;
    text-align: center;
    background: transparent;
}

.gambar-deskripsi {
    position: relative;
    align-items: center;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    background: transparent;
 
}
.deskripsi {
    padding-left: 4rem;
    max-width: 45rem;
    flex-wrap: wrap;
    text-decoration: none;
    text-align: left;
    background: transparent;
    color: rgb(255, 255, 255);
}
.deskripsikiri {
    display: flex;   
    min-height: 400px;
    min-width: 400px;
    position: relative;
    background: transparent;
    border-radius: 20px;
    overflow: hidden;

}
img {
    position: relative;
    height: 250px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px black;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
    z-index: 2;
    animation: ukuran 10s linear infinite;
}
.deskripsikiri::before {
    content: '';
    top: -4rem;
    right: 4rem;
    position: absolute;
    width: 250px;
    height: 160%;
    background: linear-gradient(rgb(255, 0, 191), rgb(47, 0, 255));
    animation: rotasi 5s linear infinite;
}
.deskripsikiri::after {
    content: '';
    position: absolute;
    background: rgb(19, 1, 31);
    inset: 5px;
    border-radius: 20px;

}
.gpersen {
    position: relative;
    display: flex;
    gap: 2rem;
    width: 100%;
    height: 10rem;
    padding: 1rem;
    text-align: center;
    justify-content: left;
    /* border: 2px solid red;
    border-radius: 1rem; */
    overflow: hidden;
}
.gpersen:hover::before{
    content: '';
    top: -12rem;
    left: 0rem;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 45rem;
    height: 37rem;
    background: linear-gradient(rgb(255, 0, 191), rgb(47, 0, 255));
    animation: rotasi 5s linear infinite;
}
.gpersen::after {
    content: '';
    position: absolute;
    background: rgb(19, 1, 31);
    inset: 5px -5px;
    /* border-radius: 20px; */

}
.gambardeskripsi1 {
    position: relative;
    height: 120px;
    width: 150px;
    background: url(gambardeskripsi1.png);
    background-size: cover;
    z-index: 99;
}
.gambardeskripsi2 {
    position: relative;
    height: 130px;
    width: 150px;
    background: url(gambardeskripsi2.png);
    background-size: cover;
    z-index: 99
}
.gambardeskripsi3 {
    position: relative;
    height: 100px;
    width: 150px;
    background: url(gambardeskripsi3.png);
    background-size: cover;
    z-index: 99
}

.persen {
    margin: 1rem 1rem;
    position: relative;
    text-align: center;
    width: 15rem;
    z-index: 99
}
.persen h4 {
    color:  rgb(19, 1, 31);
    background:rgb(255, 0, 191);
    border-radius: 2rem;
    height: 2rem;
    width: 100%
}
/* .bawah {
    font-family: sans-serif;
    padding: 3rem 5rem; 
    padding-top: 0;
} */
/* .keterangan {
    height: 100%;
    width: 100%;
    background: rgba(69, 1, 114, 0.562);
    display: flex;
    padding: 4rem 1.5rem;
    position: relative;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: space-between;
    text-align: left;
    border: .2rem solid rgb(212, 67, 176);
    border-radius: 2rem;
}
.keterangan p {
    margin: 0;
    margin-top: 0;
    max-width: 50rem;
}
.keterangan .gambar {
    height: 350px;
    width: 400px;
    margin-right: 7rem;
    position: relative;
    background: blue;
} */



@media (max-width: 1200px) {
    html {
        font-size: 85%;
    }
    .deskripsikiri {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 400px;
        min-width: 400px;
        position: relative;
        background: transparent;
        border-radius: 20px;
        overflow: hidden;
    
    }
    img {
        position: relative;
        height: 250px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 2px 2px black;
        z-index: 2;
        animation: ukuran 10s linear infinite;
    }
    .deskripsikiri::before {
        content: '';
        position: absolute;
        width: 300px;
        height: 150%;
        background: linear-gradient(rgb(255, 0, 191), rgb(47, 0, 255));
        animation: rotasi 5s linear infinite;
    }
    .deskripsikiri::after {
        content: '';
        position: absolute;
        background:  rgb(19, 1, 31);
        inset: 5px;
        border-radius: 20px;
    
    }
}
@media (max-width: 991px) {
   html {
    font-size: 75%;
   }
   .deskripsi {
    max-width: 65rem;
   }
   .deskripsikiri {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 250px;
        min-width: 250px;
        position: relative;
        background: transparent;
        border-radius: 20px;
        overflow: hidden;
    
    }
    img {
        position: relative;
        height: 200px;
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 2px 2px black;
        z-index: 2;
        animation: ukuran 10s linear infinite;
    }
    .deskripsikiri::before {
        content: '';
        position: absolute;
        width: 150px;
        height: 150%;
        background: linear-gradient(rgb(255, 0, 191), rgb(47, 0, 255));
        animation: rotasi 5s linear infinite;
    }
    .deskripsikiri::after {
        content: '';
        position: absolute;
        background:  rgb(19, 1, 31);
        inset: 5px;
        border-radius: 20px;
    
    }
}
@media (max-width: 520px) {
    html {
        font-size: 65%;
    }
   .gambar-deskripsi {
    position: relative;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
    gap: .1rem;
    padding: 0;
    justify-content: center;
    background: transparent;

   }
   .deskripsi {
    padding-left:.2rem;
    max-width: 50rem;
    min-height: 10rem;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    background: transparent;
    color: rgb(255, 255, 255);
   }
   .deskripsikiri {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    min-width: 250px;
    position: relative;
    background: transparent;
    border-radius: 20px;
    overflow: hidden;

}
img {
    position: relative;
    height: 200px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px black;
    z-index: 2;
    animation: ukuran 10s linear infinite;
}
.deskripsikiri::before {
    content: '';
    position: absolute;
    width: 150px;
    height: 150%;
    background: linear-gradient(rgb(255, 0, 191), rgb(47, 0, 255));
    animation: rotasi 5s linear infinite;
}
.deskripsikiri::after {
    content: '';
    position: absolute;
    background:  rgb(19, 1, 31);
    inset: 5px;
    border-radius: 20px;
}
.gambardeskripsi1 {
    height: 80px;
    width: 120px;
}
.gambardeskripsi2 {
    height: 80px;
    width: 120px;
}
.gambardeskripsi3 {
    height: 70px;
    width: 120px;
}
}
@media (max-width: 462px) {
   html {
    font-size: 60%;
   }
   .deskripsi {
    width: 39rem;
   }
    
}
@keyframes ukuran {
    0% {
        opacity: 100%;
        transform: scale(.9);
        transform: rotate(360deg);
    }
    50% {
        opacity: 35%;
        transform: scale(1.1);
        transform: rotate(350deg); 
    }
    100% {
        opacity: 100%;
        transform: scale(.9);
        transform: rotate(360deg);
    }
   
}
@keyframes rotasi {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes kembali {
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92% {
        color: #4b0237;
        box-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100% {
        color: #fff;
        box-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4,
    }
}